{
  "swagger": "2.0",
  "x-availity-options": {
    "x-ibm-name": "coverages",
    "backendSystem": "TYK",
    "assemblyConfig": "TYK",
    "securityProviders": [
      "HIPAA_EXTERNAL"
    ],
    "env": {
      "tst": "https://tykint.infrastructure.awn.availity.net/tst/pres/aries-eb-service/api/",
      "qua": "https://tykint.infrastructure.awn.availity.net/qua/pres/aries-eb-service/api/",
      "qap": "https://tykint-qap.infrastructure.awn.availity.net/qap/pres/aries-eb-service/api/",
      "prd": "https://tykint.infrastructure.awp.availity.net/prd/pres/aries-eb-service/api/"
    },
    "pathReplace": {
      "/": "/"
    }
  },
  "x-ibm-configuration": {
    "enforced": true,
    "testable": false,
    "phase": "realized",
    "cors": {
      "enabled": false
    },
    "servers": [
      {
        "url": "https://api.availity.com/availity/development-partner/v1",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      }
    ],
    "oauth-servers": {
      "oauth2": {
        "tokenUrls": [
          "https://api.availity.com/availity/v1/token"
        ],
        "authorizationUrls": [],
        "refreshUrls": []
      }
    }
  },
  "info": {
    "title": "Coverages",
    "version": "1.0.0",
    "contact": {
      "name": "Unknown",
      "email": "noreply@availity.com"
    },
    "x-ibm-name": "coverages"
  },
  "schemes": [
    "https"
  ],
  "basePath": "/availity/development-partner/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/xml",
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "x-ibm-oauth-provider": "availity-partner-oauth2-provider-1-0-0",
      "description": "",
      "flow": "application",
      "scopes": {
        "hipaa": "Realtime - Live HIPAA API"
      },
      "tokenUrl": "https://api.availity.com/availity/v1/token"
    }
  },
  "paths": {
    "/coverages": {
      "post": {
        "summary": "Initiate a new coverage request or view an existing request.",
        "operationId": "createCoverage",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "payerId",
            "type": "string",
            "in": "formData",
            "description": "The Availity payer id of the member."
          },
          {
            "name": "providerLastName",
            "type": "string",
            "in": "formData",
            "description": "The provider's last name."
          },
          {
            "name": "providerFirstName",
            "type": "string",
            "in": "formData",
            "description": "The provider's first name."
          },
          {
            "name": "providerType",
            "type": "string",
            "in": "formData",
            "description": "The type of provider as required."
          },
          {
            "name": "providerNpi",
            "type": "string",
            "in": "formData",
            "description": "The NPI of the requesting provider."
          },
          {
            "name": "providerTaxId",
            "type": "string",
            "in": "formData",
            "description": "The tax id of the requesting provider."
          },
          {
            "name": "payerAssignedProviderId",
            "type": "string",
            "in": "formData",
            "description": "The payer assigned provider id of the requesting provider."
          },
          {
            "name": "providerSSN",
            "type": "string",
            "in": "formData",
            "description": "The social security number of the requesting provider."
          },
          {
            "name": "providerPIN",
            "type": "string",
            "in": "formData",
            "description": "The social security number of the requesting provider."
          },
          {
            "name": "providerCity",
            "type": "string",
            "in": "formData",
            "description": "The city of the requesting provider."
          },
          {
            "name": "providerState",
            "type": "string",
            "in": "formData",
            "description": "The two character state code of the requesting provider."
          },
          {
            "name": "providerZipCode",
            "type": "string",
            "in": "formData",
            "description": "The ZIP code of the requesting provider."
          },
          {
            "name": "providerSpecialty",
            "type": "string",
            "in": "formData",
            "description": "The specialty code the requesting provider."
          },
          {
            "name": "placeOfService",
            "type": "string",
            "in": "formData",
            "description": "The place of service."
          },
          {
            "name": "submitterId",
            "type": "string",
            "in": "formData",
            "description": "Your payer assigned submitter id."
          },
          {
            "name": "asOfDate",
            "type": "string",
            "format": "date-time",
            "in": "formData",
            "description": "The coverage as of date."
          },
          {
            "name": "toDate",
            "type": "string",
            "format": "date-time",
            "in": "formData",
            "description": "The coverage to date."
          },
          {
            "name": "cardIssueDate",
            "type": "string",
            "format": "date-time",
            "in": "formData",
            "description": "The issue date of the card."
          },
          {
            "name": "serviceType",
            "type": "string",
            "in": "formData",
            "description": "The service type(s) you are looking for."
          },
          {
            "name": "procedureCode",
            "type": "string",
            "in": "formData",
            "description": "The procedure code(s) you are looking for."
          },
          {
            "name": "memberId",
            "type": "string",
            "in": "formData",
            "description": "The member id of the patient or subscriber."
          },
          {
            "name": "patientSSN",
            "type": "string",
            "in": "formData",
            "description": "The Social Security Number of the patient or subscriber."
          },
          {
            "name": "medicaidId",
            "type": "string",
            "in": "formData",
            "description": "The medicaid id of the patient or subscriber."
          },
          {
            "name": "patientLastName",
            "type": "string",
            "in": "formData",
            "description": "The patient's last name."
          },
          {
            "name": "patientFirstName",
            "type": "string",
            "in": "formData",
            "description": "The patient's first name."
          },
          {
            "name": "patientMiddleName",
            "type": "string",
            "in": "formData",
            "description": "The patient's middle name."
          },
          {
            "name": "patientSuffix",
            "type": "string",
            "in": "formData",
            "description": "The patient's suffix."
          },
          {
            "name": "patientBirthDate",
            "type": "string",
            "format": "date-time",
            "in": "formData",
            "description": "The patient's birth date."
          },
          {
            "name": "patientGender",
            "type": "string",
            "in": "formData",
            "description": "The patient's gender."
          },
          {
            "name": "patientState",
            "type": "string",
            "in": "formData",
            "description": "The subscriber's patient of residence."
          },
          {
            "name": "groupNumber",
            "type": "string",
            "in": "formData",
            "description": "The patient's group number."
          },
          {
            "name": "subscriberRelationship",
            "type": "string",
            "in": "formData",
            "description": "The patient's relationship to the subscriber."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CoverageSummary"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/CoverageSummary"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/coverages/{id}": {
      "get": {
        "summary": "Get the full coverage information by id.",
        "operationId": "getCoverageById",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Coverage"
            }
          },
          "401": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a coverage information by id.",
        "operationId": "deleteCoverageById",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "type": "string",
          "required": true,
          "in": "path",
          "description": "A coverage id"
        }
      ]
    }
  },
  "definitions": {
    "ResultSet": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "description": "Total number of assets."
        },
        "count": {
          "type": "integer",
          "description": "Number of assets in the result set."
        },
        "offset": {
          "type": "integer",
          "description": "Paging offset."
        },
        "limit": {
          "type": "integer",
          "description": "Paging limit."
        },
        "links": {
          "type": "object",
          "description": "Links.",
          "additionalProperties": {
            "$ref": "#/definitions/Link"
          }
        },
        "coverages": {
          "type": "array",
          "description": "list of coverages",
          "items": {
            "$ref": "#/definitions/CoverageSummary"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL."
        }
      }
    },
    "CoverageSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the coverage."
        },
        "customerId": {
          "type": "string",
          "description": "The id of the customer that owns this coverage."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time and date when this coverage was added to our system."
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time and date when this coverage was last updated in our system."
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time and date when this coverage will expire from our system."
        },
        "controlNumber": {
          "type": "string",
          "description": "A tracking number we assigned to the coverage transaction."
        },
        "submitterStatecode": {
          "type": "string",
          "description": "The submitting customer's configured state code."
        },
        "status": {
          "type": "string",
          "description": "The current status of the coverage request."
        },
        "statusCode": {
          "type": "string",
          "description": "The current status code of the coverage request."
        },
        "asOfDate": {
          "type": "string",
          "format": "date-time",
          "description": "The as of date."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "The to date."
        },
        "cardIssueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The card issue date."
        },
        "payer": {
          "type": "object",
          "description": "The payer.",
          "properties": {
            "payerId": {
              "type": "string",
              "description": "The requested payer id."
            },
            "name": {
              "type": "string",
              "description": "The requested payer name."
            },
            "responsePayerId": {
              "type": "string",
              "description": "The id the payer responded with."
            },
            "responseName": {
              "type": "string",
              "description": "The name the payer responded with."
            }
          }
        },
        "requestingProvider": {
          "type": "object",
          "description": "The requesting provider.",
          "properties": {
            "lastName": {
              "type": "string",
              "description": "The requesting provider's last or business name."
            },
            "firstName": {
              "type": "string",
              "description": "The requesting provider's first name."
            },
            "type": {
              "type": "string",
              "description": "The requesting provider's type."
            },
            "typeCode": {
              "type": "string",
              "description": "The requesting provider's type code."
            },
            "specialtyCode": {
              "type": "string",
              "description": "The requesting provider's specialty code."
            },
            "npi": {
              "type": "string",
              "description": "The requesting provider's national provider id."
            },
            "taxId": {
              "type": "string",
              "description": "The requesting provider's tax id."
            },
            "payerAssignedProviderId": {
              "type": "string",
              "description": "The requesting provider's payer assigned provider id."
            },
            "ssn": {
              "type": "string",
              "description": "The requesting provider's SSN."
            },
            "submitterId": {
              "type": "string",
              "description": "The requesting provider's submitter id."
            },
            "placeOfService": {
              "type": "string",
              "description": "The requesting provider's place of service."
            },
            "placeOfServiceCode": {
              "type": "string",
              "description": "The requesting provider's place of service code."
            },
            "address": {
              "type": "object",
              "description": "The requesting provider's address.",
              "properties": {
                "city": {
                  "type": "string",
                  "description": "The requesting provider's city."
                },
                "state": {
                  "type": "string",
                  "description": "The requesting provider's state."
                },
                "stateCode": {
                  "type": "string",
                  "description": "The requesting provider's state code."
                },
                "zipCode": {
                  "type": "string",
                  "description": "The requesting provider's ZIP code."
                }
              }
            },
            "pin": {
              "type": "string",
              "description": "The requesting provider's PIN."
            }
          }
        },
        "patient": {
          "type": "object",
          "description": "The patient.",
          "properties": {
            "lastName": {
              "type": "string",
              "description": "The patient's last name."
            },
            "firstName": {
              "type": "string",
              "description": "The patient's first name."
            },
            "middleName": {
              "type": "string",
              "description": "The patient's middle name."
            },
            "suffix": {
              "type": "string",
              "description": "The patient's suffix."
            },
            "birthDate": {
              "type": "string",
              "format": "date-time",
              "description": "The patient's birth date."
            },
            "ssn": {
              "type": "string",
              "description": "The patient's SSN."
            },
            "gender": {
              "type": "string",
              "description": "The patient's gender."
            },
            "genderCode": {
              "type": "string",
              "description": "The patient's gender code."
            },
            "subscriberRelationship": {
              "type": "string",
              "description": "The patient's subscriber relationship."
            },
            "subscriberRelationshipCode": {
              "type": "string",
              "description": "The patient's subscriber relationship code."
            },
            "address": {
              "type": "object",
              "description": "The patient's address.",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "The patient's state."
                },
                "stateCode": {
                  "type": "string",
                  "description": "The patient's state code."
                }
              }
            }
          }
        },
        "subscriber": {
          "type": "object",
          "description": "The subscriber.",
          "properties": {
            "memberId": {
              "type": "string",
              "description": "The subscriber's member id."
            },
            "medicaidId": {
              "type": "string",
              "description": "The subscriber's medicaid id."
            },
            "lastName": {
              "type": "string",
              "description": "The subscriber's last name."
            },
            "firstName": {
              "type": "string",
              "description": "The subscriber's first name."
            },
            "middleName": {
              "type": "string",
              "description": "The subscriber's middle name."
            },
            "suffix": {
              "type": "string",
              "description": "The subscriber's suffix."
            },
            "birthDate": {
              "type": "string",
              "format": "date-time",
              "description": "The subscriber's birth date."
            },
            "gender": {
              "type": "string",
              "description": "The subscriber's gender."
            },
            "genderCode": {
              "type": "string",
              "description": "The subscriber's gender code."
            },
            "caseNumber": {
              "type": "string",
              "description": "The subscriber's case number."
            }
          }
        },
        "plans": {
          "type": "array",
          "description": "A list of plans.",
          "items": {
            "type": "object",
            "description": "A plan.",
            "properties": {
              "status": {
                "type": "string",
                "description": "The plan's status."
              },
              "statusCode": {
                "type": "string",
                "description": "The plan's status code."
              },
              "identityCardNumber": {
                "type": "string",
                "description": "The plan's identity card number."
              },
              "groupNumber": {
                "type": "string",
                "description": "The plan's group number."
              },
              "groupName": {
                "type": "string",
                "description": "The plan's group name."
              },
              "description": {
                "type": "string",
                "description": "The plan's description."
              },
              "coverageSummaryAdditionalPayers": {
                "type": "array",
                "description": "A list of coverage summary additional payers.",
                "items": {
                  "type": "object",
                  "description": "A coverage summary additional payer.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The coverage summary additional payer's name."
                    },
                    "serviceTypeCode": {
                      "type": "string",
                      "description": "The coverage summary additional payer's service type code."
                    },
                    "insuredMemberId": {
                      "type": "string",
                      "description": "The coverage summary additional payer's insured member id."
                    },
                    "primary": {
                      "type": "boolean",
                      "description": "Indicates whether or not this is a primary payer."
                    },
                    "secondary": {
                      "type": "boolean",
                      "description": "Indicates whether or not this is a secondary payer."
                    },
                    "tertiary": {
                      "type": "boolean",
                      "description": "Indicates whether or not this is a tertiary payer."
                    },
                    "coordinationOfBenefitsBeginDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The coverage summary additional payer's coordination of benefits begin date."
                    },
                    "coordinationOfBenefitsEndDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The coverage summary additional payer's coordination of benefits end date."
                    },
                    "coordinationOfBenefitsDate": {
                      "type": "string",
                      "description": "The coverage summary additional payer's coordination of benefits date."
                    }
                  }
                }
              },
              "eligibilityStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The plan's eligibility start date."
              },
              "eligibilityEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The plan's eligibility end date."
              },
              "coverageStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The plan's coverage start date."
              },
              "coverageEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The plan's coverage end date."
              },
              "insuranceType": {
                "type": "string",
                "description": "The plan's insurance type."
              },
              "insuranceTypeCode": {
                "type": "string",
                "description": "The plan's insurance type code."
              },
              "primaryCareProvider": {
                "type": "object",
                "description": "The plan primary care provider.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The primary care provider's name."
                  },
                  "category": {
                    "type": "string",
                    "description": "The primary care provider's category."
                  },
                  "categoryCode": {
                    "type": "string",
                    "description": "The primary care provider's category code."
                  }
                }
              }
            }
          }
        },
        "requestedServiceType": {
          "type": "array",
          "description": "The requested service types.",
          "items": {
            "type": "object",
            "description": "A requested service type.",
            "properties": {
              "code": {
                "type": "string",
                "description": "The requested service type code."
              },
              "value": {
                "type": "string",
                "description": "The requested service type description."
              }
            }
          }
        },
        "procedureCode": {
          "type": "array",
          "description": "Requested procedure codes.",
          "items": {
            "type": "string",
            "description": "A requested procedure code."
          }
        },
        "validationMessages": {
          "type": "array",
          "description": "A list of validation messages from the payer.",
          "items": {
            "$ref": "#/definitions/FieldError"
          }
        }
      }
    },
    "Coverage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the coverage."
        },
        "customerId": {
          "type": "string",
          "description": "The id of the customer that owns this coverage."
        },
        "controlNumber": {
          "type": "string",
          "description": "A control number that we assigned to the coverage transaction."
        },
        "status": {
          "type": "string",
          "description": "The current status of the coverage request."
        },
        "statusCode": {
          "type": "string",
          "description": "The current status code of the coverage request."
        },
        "submitterStatecode": {
          "type": "string",
          "description": "The state code of the submitting customer."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when this coverage was added to our system."
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when this coverage was last updated in our system."
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when this coverage will expire from our system."
        },
        "asOfDate": {
          "type": "string",
          "format": "date-time",
          "description": "The as of date."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "The to date."
        },
        "cardIssueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The card issue date."
        },
        "requestedServiceType": {
          "type": "array",
          "description": "The requested service types.",
          "items": {
            "type": "object",
            "description": "A requested service type.",
            "properties": {
              "code": {
                "type": "string",
                "description": "The requested service type code."
              },
              "value": {
                "type": "string",
                "description": "The requested service type description."
              }
            }
          }
        },
        "procedureCode": {
          "type": "array",
          "description": "Requested procedure codes.",
          "items": {
            "type": "string",
            "description": "A requested procedure code."
          }
        },
        "validationMessages": {
          "type": "array",
          "description": "A list of validation messages from the payer.",
          "items": {
            "$ref": "#/definitions/FieldError"
          }
        },
        "subscriber": {
          "type": "object",
          "description": "The subscriber.",
          "properties": {
            "firstName": {
              "type": "string",
              "description": "The subscriber's first name."
            },
            "middleName": {
              "type": "string",
              "description": "The subscriber's middle name."
            },
            "lastName": {
              "type": "string",
              "description": "The subscriber's last name."
            },
            "suffix": {
              "type": "string",
              "description": "The subscriber's suffix."
            },
            "memberId": {
              "type": "string",
              "description": "The subscriber's member id."
            },
            "medicaidId": {
              "type": "string",
              "description": "The subscriber's medicaid id."
            },
            "gender": {
              "type": "string",
              "description": "The subscriber's gender."
            },
            "genderCode": {
              "type": "string",
              "description": "The subscriber's gender code."
            },
            "ssn": {
              "type": "string",
              "description": "The subscriber's SSN."
            },
            "birthDate": {
              "type": "string",
              "format": "date-time",
              "description": "The subscriber's birth date."
            },
            "address": {
              "$ref": "#/definitions/Address"
            },
            "caseNumber": {
              "type": "string",
              "description": "The subscriber's case number."
            }
          }
        },
        "patient": {
          "type": "object",
          "description": "The patient.",
          "properties": {
            "firstName": {
              "type": "string",
              "description": "The patient's first name."
            },
            "middleName": {
              "type": "string",
              "description": "The patient's middle name."
            },
            "lastName": {
              "type": "string",
              "description": "The patient's last name."
            },
            "suffix": {
              "type": "string",
              "description": "The patient's suffix."
            },
            "patientAccountNumber": {
              "type": "string",
              "description": "The patient's account number."
            },
            "memberId": {
              "type": "string",
              "description": "The patient's member id."
            },
            "familyUnitNumber": {
              "type": "string",
              "description": "The patient's family unit number."
            },
            "subscriberRelationship": {
              "type": "string",
              "description": "The patient's relationship to the subscriber."
            },
            "subscriberRelationshipCode": {
              "type": "string",
              "description": "The patient's relationship to subscriber code."
            },
            "gender": {
              "type": "string",
              "description": "The patient's gender."
            },
            "genderCode": {
              "type": "string",
              "description": "The patient's gender code."
            },
            "ssn": {
              "type": "string",
              "description": "The patient's SSN."
            },
            "birthDate": {
              "type": "string",
              "format": "date-time",
              "description": "The patient's birth date."
            },
            "deathDate": {
              "type": "string",
              "format": "date-time",
              "description": "The patient's death date."
            },
            "address": {
              "$ref": "#/definitions/Address"
            },
            "updateYourRecords": {
              "type": "boolean",
              "description": "Indicates that you need to update your copy of the patient's demographic information."
            }
          }
        },
        "payer": {
          "$ref": "#/definitions/Payer"
        },
        "requestingProvider": {
          "$ref": "#/definitions/HealthCareContact"
        },
        "plans": {
          "type": "array",
          "description": "Policy plan information.",
          "items": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "The current plan status."
              },
              "statusCode": {
                "type": "string",
                "description": "The current plan status code."
              },
              "groupNumber": {
                "type": "string",
                "description": "The plan's group number."
              },
              "groupName": {
                "type": "string",
                "description": "The plan's group name."
              },
              "policyNumber": {
                "type": "string",
                "description": "The policy number."
              },
              "planNumber": {
                "type": "string",
                "description": "The plan number."
              },
              "planName": {
                "type": "string",
                "description": "The plan name."
              },
              "planNetworkId": {
                "type": "string",
                "description": "The network id."
              },
              "planNetworkName": {
                "type": "string",
                "description": "The network name."
              },
              "contractClassCode": {
                "type": "string",
                "description": "The patient's contract class code."
              },
              "contractNumber": {
                "type": "string",
                "description": "The patient's contract number."
              },
              "medicalRecordNumber": {
                "type": "string",
                "description": "The patient's medical record number."
              },
              "healthInsuranceClaimNumber": {
                "type": "string",
                "description": "The patient's health insurance claim number."
              },
              "identificationCardSerialNumber": {
                "type": "string",
                "description": "The patient's identification card serial number."
              },
              "identityCardNumber": {
                "type": "string",
                "description": "The patient's identity card number."
              },
              "issueNumber": {
                "type": "string",
                "description": "The patient's issue number."
              },
              "medicaidRecipientIdentificationNumber": {
                "type": "string",
                "description": "The patient's medicaid recipient identification number."
              },
              "priorIdentificationNumber": {
                "type": "string",
                "description": "The patient's prior identification number."
              },
              "agencyClaimNumber": {
                "type": "string",
                "description": "The patient's agency claim number."
              },
              "admissionDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date the patient was admitted."
              },
              "dischargeDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date the patient was discharged."
              },
              "issueDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date this issue was created."
              },
              "serviceDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date of service."
              },
              "coverageStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The start date of coverage."
              },
              "coverageEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The end date of coverage."
              },
              "planStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The start date of the plan."
              },
              "planEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The end date of the plan."
              },
              "planEnrollmentDate": {
                "type": "string",
                "format": "date-time",
                "description": "The enrollment date."
              },
              "certificationDate": {
                "type": "string",
                "format": "date-time",
                "description": "The certification date."
              },
              "eligibilityStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The eligibility start date."
              },
              "eligibilityEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The eligibility end date."
              },
              "policyEffectiveDate": {
                "type": "string",
                "format": "date-time",
                "description": "The effective date of the policy."
              },
              "policyExpirationDate": {
                "type": "string",
                "format": "date-time",
                "description": "The expiration date of the policy."
              },
              "effectiveChangeDate": {
                "type": "string",
                "format": "date-time",
                "description": "The last effective plan change date."
              },
              "cobraStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "COBRA start date."
              },
              "cobraEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "COBRA end date."
              },
              "lastUpdateDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date this was last updated"
              },
              "addedDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date this was added."
              },
              "premiumPaidToBeginDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date start date for premium paid to begin."
              },
              "premiumPaidToEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date end date for premium paid to begin."
              },
              "periodStartDate": {
                "type": "string",
                "format": "date-time",
                "description": "The start date for the period."
              },
              "periodEndDate": {
                "type": "string",
                "format": "date-time",
                "description": "The end date for the period."
              },
              "statusDate": {
                "type": "string",
                "format": "date-time",
                "description": "The status date."
              },
              "additionalPayers": {
                "type": "array",
                "description": "Additional payer information including primary, secondary, and tertiary payers.",
                "items": {
                  "$ref": "#/definitions/Payer"
                }
              },
              "primaryCareProvider": {
                "$ref": "#/definitions/HealthCareContact"
              },
              "contacts": {
                "type": "array",
                "description": "Contacts associated with the patient.",
                "items": {
                  "$ref": "#/definitions/HealthCareContact"
                }
              },
              "benefits": {
                "type": "array",
                "description": "Service coverage benefit information.",
                "items": {
                  "$ref": "#/definitions/Benefit"
                }
              },
              "preexistingConditions": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "costContainment": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "limitations": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "benefitDescriptions": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "coverageBasis": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "insuranceType": {
                "type": "string",
                "description": "The type of insurance."
              },
              "insuranceTypeCode": {
                "type": "string",
                "description": "The code of the type of insurance."
              },
              "reserve": {
                "$ref": "#/definitions/BenefitDetail"
              },
              "payerNotes": {
                "type": "array",
                "description": "General payer notes and disclaimers.",
                "items": {
                  "$ref": "#/definitions/PayerNote"
                }
              }
            }
          }
        },
        "supplementalInformation": {
          "type": "object",
          "description": "asdf",
          "properties": {
            "professionalPatientCostEstimator": {
              "type": "boolean",
              "description": "Indicates whether or not Professional Patient Cost Estimator is available."
            },
            "institutionalPatientCostEstimator": {
              "type": "boolean",
              "description": "Indicates whether or not Institutional Patient Cost Estimator is available."
            },
            "patientCareSummary": {
              "type": "boolean",
              "description": "Indicates whether or not a Patient Care Summary is available."
            },
            "patientCareSummaryReason": {
              "type": "string",
              "description": "Indicates the reason for the patient care summary availability."
            },
            "patientCareSummaryReasonCode": {
              "type": "string",
              "description": "Indicates the reason for the patient care summary availability."
            },
            "assessmentCarePlan": {
              "type": "boolean",
              "description": "Indicates whether or not Assessment and Care Plan is available."
            },
            "thirdPartySystemId": {
              "type": "string",
              "description": "Third party system id for supplemental information."
            },
            "routingCode": {
              "type": "string",
              "description": "Routing code for supplemental information."
            },
            "outOfArea": {
              "type": "boolean",
              "description": "Out of area flag indicated by certain payers."
            },
            "clickToTalkPhoneNumber": {
              "type": "string",
              "description": "The Click to Talk phone number."
            },
            "clickToTalkKey": {
              "type": "string",
              "description": "The Click to Talk key."
            },
            "localMemberId": {
              "type": "string",
              "description": "Local member id for third party clinical exchanges"
            },
            "pceMemberLocatorKey": {
              "type": "string",
              "description": "Local member key for patient cost estimator for third party clinical exchanges"
            },
            "pceHostIndicator": {
              "type": "boolean",
              "description": "Host plan indicator for patient cost estimator for third party clinical exchanges"
            },
            "referralShortFormIndicator": {
              "type": "boolean",
              "description": "Referral short form indicator"
            },
            "viewReferralAuthIndicator": {
              "type": "boolean",
              "description": "View all auths and referrals indicator"
            },
            "csnpIndicator": {
              "type": "boolean",
              "description": "C-SNP form indicator"
            },
            "requestLtssccAmount": {
              "type": "boolean",
              "description": "Flag indicating whether or not to initiate a request to LTSSCC"
            },
            "pregnant": {
              "type": "boolean",
              "description": "Patient Assessment (Maternity) form exists"
            },
            "pharmacyRestrictions": {
              "type": "object",
              "description": "Pharmacy restrictions.",
              "properties": {
                "lockInInfo": {
                  "type": "array",
                  "description": "Lock in information.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A name."
                      },
                      "address": {
                        "type": "object",
                        "description": "An address.",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "A street address."
                          },
                          "line2": {
                            "type": "string",
                            "description": "A street address."
                          },
                          "city": {
                            "type": "string",
                            "description": "A city."
                          },
                          "state": {
                            "type": "string",
                            "description": "A state."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "A ZIP code."
                          }
                        }
                      },
                      "telephone": {
                        "type": "string",
                        "description": "A telephone."
                      },
                      "fax": {
                        "type": "string",
                        "description": "A fax."
                      },
                      "effectiveDt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "An effective date."
                      },
                      "terminationDt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "A termination date."
                      }
                    }
                  }
                }
              }
            },
            "erReferralCompleted": {
              "type": "boolean",
              "description": "ER Referral Questionaire"
            }
          }
        },
        "reminders": {
          "type": "object",
          "description": "Care remdinders pertaining to this coverage.",
          "properties": {
            "titles": {
              "type": "object",
              "description": "Clinical message titles.",
              "additionalProperties": {
                "type": "string"
              }
            },
            "messages": {
              "type": "array",
              "description": "Clinical message content.",
              "items": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            },
            "inference": {
              "type": "string",
              "description": "Clinical inference."
            }
          }
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "line1": {
          "type": "string",
          "description": "The street address."
        },
        "line2": {
          "type": "string",
          "description": "The street address."
        },
        "city": {
          "type": "string",
          "description": "The city."
        },
        "state": {
          "type": "string",
          "description": "The state."
        },
        "stateCode": {
          "type": "string",
          "description": "The state code."
        },
        "zipCode": {
          "type": "string",
          "description": "The ZIP code."
        }
      }
    },
    "Payer": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The payer's type."
        },
        "typeCode": {
          "type": "string",
          "description": "The payer's type code."
        },
        "name": {
          "type": "string",
          "description": "The payer's name."
        },
        "payerId": {
          "type": "string",
          "description": "The payer's id."
        },
        "responseName": {
          "type": "string",
          "description": "The payer's response name."
        },
        "responsePayerId": {
          "type": "string",
          "description": "The payer's response id."
        },
        "primary": {
          "type": "boolean",
          "description": "Indicates whether or not this is the primary payer."
        },
        "secondary": {
          "type": "boolean",
          "description": "Indicates whether or not this is the seconday payer."
        },
        "tertiary": {
          "type": "boolean",
          "description": "Indicates whether or not this is the tertiary payer."
        },
        "thirdPartyAdministrator": {
          "type": "string",
          "description": "Indicates if this payer is a Third-Party Administrator."
        },
        "insuredLastName": {
          "type": "string",
          "description": "The insured person's last name."
        },
        "insuredFirstName": {
          "type": "string",
          "description": "The insured person's first name."
        },
        "insuredMiddleName": {
          "type": "string",
          "description": "The insured person's middle name."
        },
        "insuredMemberId": {
          "type": "string",
          "description": "The insured person's member id."
        },
        "insuredAddress": {
          "$ref": "#/definitions/Address"
        },
        "groupNumber": {
          "type": "string",
          "description": "The plan's group number."
        },
        "groupName": {
          "type": "string",
          "description": "The plan's group name."
        },
        "policyNumber": {
          "type": "string",
          "description": "The policy number."
        },
        "planNumber": {
          "type": "string",
          "description": "The plan number."
        },
        "planName": {
          "type": "string",
          "description": "The plan name."
        },
        "planNetworkId": {
          "type": "string",
          "description": "The network id."
        },
        "planNetworkName": {
          "type": "string",
          "description": "The network name."
        },
        "memberIdentificationNumber": {
          "type": "string",
          "description": "The member's identification number."
        },
        "familyUnitNumber": {
          "type": "string",
          "description": "The family unit number."
        },
        "healthInsuranceClaimNumber": {
          "type": "string",
          "description": "The patient's health insurance claim number."
        },
        "medicaidRecipientIdentificationNumber": {
          "type": "string",
          "description": "The patient's medicaid recipient identification number."
        },
        "dischargeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The discharge date."
        },
        "periodStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the period."
        },
        "periodEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the period."
        },
        "completionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The completion date."
        },
        "coordinationOfBenefitsDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits date."
        },
        "coordinationOfBenefitsBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits begin date."
        },
        "coordinationOfBenefitsEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits end date."
        },
        "coverageStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the coverage."
        },
        "coverageEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the coverage."
        },
        "addedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The added date of the plan."
        },
        "planStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the plan."
        },
        "primaryCareProviderDate": {
          "type": "string",
          "format": "date-time",
          "description": "The primary care provider date."
        },
        "lastVisitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the latest visit or consultation."
        },
        "eligibilityStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility start date."
        },
        "eligibilityEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility end date."
        },
        "benefitBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit begin date."
        },
        "benefitEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit end date."
        },
        "admissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The admission date."
        },
        "serviceDate": {
          "type": "string",
          "format": "date-time",
          "description": "The service date."
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date this was last updated"
        },
        "statusDate": {
          "type": "string",
          "format": "date-time",
          "description": "The status date."
        },
        "insuredContactInformation": {
          "type": "array",
          "description": "Contact information for the insured person.",
          "items": {
            "$ref": "#/definitions/ContactInformation"
          }
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "contactInformation": {
          "type": "array",
          "description": "Contact information for the payer.",
          "items": {
            "$ref": "#/definitions/ContactInformation"
          }
        },
        "payerNotes": {
          "type": "array",
          "description": "Notes from the payer about this additional payer.",
          "items": {
            "type": "string"
          }
        },
        "serviceTypeCode": {
          "type": "string",
          "description": "The service type code with which this payer is associated."
        }
      }
    },
    "ContactInformation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The contact name."
        },
        "phone": {
          "type": "string",
          "description": "A phone number."
        },
        "workPhone": {
          "type": "string",
          "description": "A work phone number."
        },
        "fax": {
          "type": "string",
          "description": "A fax number."
        },
        "emailAddress": {
          "type": "string",
          "description": "An email address."
        },
        "url": {
          "type": "string",
          "description": "A contact URL."
        },
        "ediAccessNumber": {
          "type": "string",
          "description": "A contact EDI access number."
        }
      }
    },
    "HealthCareContact": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The contact category."
        },
        "categoryCode": {
          "type": "string",
          "description": "The contact category code."
        },
        "type": {
          "type": "string",
          "description": "The type of contact."
        },
        "typeCode": {
          "type": "string",
          "description": "The type code of the contact."
        },
        "role": {
          "type": "string",
          "description": "The role of contact."
        },
        "roleCode": {
          "type": "string",
          "description": "The role code of the contact."
        },
        "name": {
          "type": "string",
          "description": "The name of the contact."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the contact."
        },
        "middleName": {
          "type": "string",
          "description": "The middle name of the contact."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the contact."
        },
        "npi": {
          "type": "string",
          "description": "The NPI of the contact."
        },
        "taxId": {
          "type": "string",
          "description": "The tax id of the contact."
        },
        "stateLicenseNumber": {
          "type": "string",
          "description": "The state license number of the contact."
        },
        "medicareProviderNumber": {
          "type": "string",
          "description": "The Medicare provider number of the contact."
        },
        "medicaidProviderNumber": {
          "type": "string",
          "description": "The Medicaid provider number of the contact."
        },
        "facilityId": {
          "type": "string",
          "description": "The facility ID of the contact."
        },
        "pin": {
          "type": "string",
          "description": "The Personal Identification Number of the contact."
        },
        "contractNumber": {
          "type": "string",
          "description": "The contract number of the contact."
        },
        "electronicPin": {
          "type": "string",
          "description": "The electronic device pin number of the contact."
        },
        "providerPlanNetworkId": {
          "type": "string",
          "description": "The provider plan network identification number of the contact."
        },
        "facilityNetworkId": {
          "type": "string",
          "description": "The facility network identification number of the contact."
        },
        "ssn": {
          "type": "string",
          "description": "The social security number of the contact."
        },
        "ein": {
          "type": "string",
          "description": "The employer's identification number"
        },
        "etin": {
          "type": "string",
          "description": "Electronic transmitter identification number"
        },
        "payerId": {
          "type": "string",
          "description": "The payor identification"
        },
        "pharmacyProcessorNumber": {
          "type": "string",
          "description": "The pharmacy processor number"
        },
        "planId": {
          "type": "string",
          "description": "The CMMS plan ID"
        },
        "policyNumber": {
          "type": "string",
          "description": "Group or Policy Number"
        },
        "memberId": {
          "type": "string",
          "description": "The Member Identification Number"
        },
        "familyUnitNumber": {
          "type": "string",
          "description": "Family Unit Number"
        },
        "groupNumber": {
          "type": "string",
          "description": "Group Number"
        },
        "referralNumber": {
          "type": "string",
          "description": "Referral Number"
        },
        "alternateListId": {
          "type": "string",
          "description": "Alternative List ID"
        },
        "coverageListlId": {
          "type": "string",
          "description": "Coverage List ID"
        },
        "healthInsuranceClaimNumber": {
          "type": "string",
          "description": "Health Insurance Claim (HIC) Number"
        },
        "drugFormularyNumber": {
          "type": "string",
          "description": "Drug Formulary Number"
        },
        "priorAuthorizationNumber": {
          "type": "string",
          "description": "Prior Authorization Number"
        },
        "medicalAssistanceCategoryId": {
          "type": "string",
          "description": "Medical Assistance Category"
        },
        "planNetworkId": {
          "type": "string",
          "description": "Plan Network Identification Number"
        },
        "planNetworkName": {
          "type": "string",
          "description": "Plan Network Name"
        },
        "medicaidRecipientId": {
          "type": "string",
          "description": "Medicaid Recipient Identification Number"
        },
        "suhi": {
          "type": "string",
          "description": "Standard Unique Health Identifier for each Individual in the United States"
        },
        "naicId": {
          "type": "string",
          "description": "The National Association of Insurance Commissioners Identification"
        },
        "payerAssignedProviderId": {
          "type": "string",
          "description": "The payer assigned provider id of the v."
        },
        "submitterId": {
          "type": "string",
          "description": "The submitter id of the contact."
        },
        "payerAssignedUserId": {
          "type": "string",
          "description": "The payer assigned user id of the contact."
        },
        "specialty": {
          "type": "string",
          "description": "The specialty of the contact."
        },
        "specialtyCode": {
          "type": "string",
          "description": "The specialty code of the contact."
        },
        "placeOfService": {
          "type": "string",
          "description": "The place of contact."
        },
        "placeOfServiceCode": {
          "type": "string",
          "description": "The place of service code."
        },
        "dischargeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The discharge date."
        },
        "periodStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the period."
        },
        "periodEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the period."
        },
        "completionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The completion date."
        },
        "coordinationOfBenefitsDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits date."
        },
        "coordinationOfBenefitsBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits begin date."
        },
        "coordinationOfBenefitsEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits end date."
        },
        "coverageStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the coverage."
        },
        "coverageEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the coverage."
        },
        "addedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The added date of the plan."
        },
        "planStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the plan."
        },
        "primaryCareProviderDate": {
          "type": "string",
          "format": "date-time",
          "description": "The primary care provider date."
        },
        "primaryCareProviderStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The primary care provider start date."
        },
        "primaryCareProviderEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The primary care provider end date."
        },
        "lastVisitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the latest visit or consultation."
        },
        "eligibilityStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility start date."
        },
        "eligibilityEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility end date."
        },
        "benefitBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit begin date."
        },
        "benefitEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit end date."
        },
        "admissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The admission date."
        },
        "serviceDate": {
          "type": "string",
          "format": "date-time",
          "description": "The service date."
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date this was last updated"
        },
        "statusDate": {
          "type": "string",
          "format": "date-time",
          "description": "The status date."
        },
        "authorizationRequired": {
          "type": "boolean",
          "description": "Indicates whether or not the provider is required to obtain authorization to perform this service."
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "contactInformation": {
          "type": "array",
          "description": "Contact information for the contact.",
          "items": {
            "$ref": "#/definitions/ContactInformation"
          }
        },
        "deliveryInformation": {
          "type": "array",
          "description": "Delivery information for the contact.",
          "items": {
            "$ref": "#/definitions/HealthCareServiceDelivery"
          }
        },
        "payerNotes": {
          "type": "array",
          "description": "Payer notes about this contact",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HealthCareServiceDelivery": {
      "type": "object",
      "properties": {
        "quantityQualifier": {
          "type": "string",
          "description": "The type of service to be delivered."
        },
        "quantityQualifierCode": {
          "type": "string",
          "description": "The type code of service to be delivered."
        },
        "quantity": {
          "type": "string",
          "description": "The quantity of the service to be delivered."
        },
        "amount": {
          "type": "string",
          "description": "The amount per period to deliver."
        },
        "per": {
          "type": "string",
          "description": "The frequency period over which to deliver the service."
        },
        "perCode": {
          "type": "string",
          "description": "The frequency period code over which to deliver the service."
        },
        "timePeriod": {
          "type": "string",
          "description": "The time period measurement that this service should be delivered over."
        },
        "timePeriodCode": {
          "type": "string",
          "description": "The code of the time period measurement that this service should be delivered over."
        },
        "timePeriods": {
          "type": "string",
          "description": "The number of periods to deliver this service for."
        },
        "pattern": {
          "type": "string",
          "description": "The pattern in which to deliver this service."
        },
        "patternCode": {
          "type": "string",
          "description": "The code of the pattern in which to deliver this service."
        },
        "time": {
          "type": "string",
          "description": "The time of day to deliver this service."
        },
        "timeCode": {
          "type": "string",
          "description": "The code of the time of day to deliver this service."
        }
      }
    },
    "NetworkBenefit": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of coverage for this benefit."
        },
        "statusCode": {
          "type": "string",
          "description": "The status code of the coverage for this benefit."
        },
        "insuranceType": {
          "type": "string",
          "description": "The type of insurance."
        },
        "insuranceTypeCode": {
          "type": "string",
          "description": "The code of the type of insurance."
        },
        "amount": {
          "type": "string",
          "description": "The amount."
        },
        "units": {
          "type": "string",
          "description": "The units of the amount."
        },
        "amountTimePeriod": {
          "type": "string",
          "description": "The time period that this benefit applies to."
        },
        "amountTimePeriodCode": {
          "type": "string",
          "description": "The code of the time period for this benefit."
        },
        "remaining": {
          "type": "string",
          "description": "The remaining amount."
        },
        "remainingTimePeriod": {
          "type": "string",
          "description": "The time period that the remaining benefit applies to."
        },
        "remainingTimePeriodCode": {
          "type": "string",
          "description": "The code of the remaining time period for this benefit."
        },
        "total": {
          "type": "string",
          "description": "The total amount."
        },
        "totalTimePeriod": {
          "type": "string",
          "description": "The time period that the total benefit applies to."
        },
        "totalTimePeriodCode": {
          "type": "string",
          "description": "The code of the total time period for this benefit."
        },
        "level": {
          "type": "string",
          "description": "The level of coverage."
        },
        "levelCode": {
          "type": "string",
          "description": "The code of the level of coverage."
        },
        "quantity": {
          "type": "string",
          "description": "The quantity covered by this benefit."
        },
        "quantityQualifier": {
          "type": "string",
          "description": "The qualifier for the quantity amount."
        },
        "quantityQualifierCode": {
          "type": "string",
          "description": "The qualifier code for the quantity amount."
        },
        "authorizationRequired": {
          "type": "boolean",
          "description": "Indicates whether or not the provider is required to obtain authorization to perform this service."
        },
        "authorizationRequiredUnknown": {
          "type": "boolean",
          "description": "Indicates if whether or not the provider is required to obtain authorization to perform this service is unknown."
        },
        "placeOfService": {
          "type": "string",
          "description": "The place where this service should be performed."
        },
        "placeOfServiceCode": {
          "type": "string",
          "description": "The code of the place where this service should be performed."
        },
        "description": {
          "type": "string",
          "description": "A description of this benefit."
        },
        "planNumber": {
          "type": "string",
          "description": "The plan number."
        },
        "planName": {
          "type": "string",
          "description": "The plan name."
        },
        "policyNumber": {
          "type": "string",
          "description": "The policy number."
        },
        "memberIdentificationNumber": {
          "type": "string",
          "description": "The member's identification number."
        },
        "familyUnitNumber": {
          "type": "string",
          "description": "The family unit number."
        },
        "groupNumber": {
          "type": "string",
          "description": "The benefit's group number."
        },
        "groupName": {
          "type": "string",
          "description": "The benefit's group name."
        },
        "referralNumber": {
          "type": "string",
          "description": "The referral number."
        },
        "healthInsuranceClaimNumber": {
          "type": "string",
          "description": "The patient's health insurance claim number."
        },
        "priorAuthorizationNumber": {
          "type": "string",
          "description": "The patient's prior authorization number."
        },
        "insurancePolicyNumber": {
          "type": "string",
          "description": "The insurance policy number."
        },
        "planNetworkId": {
          "type": "string",
          "description": "The plan network identification number."
        },
        "planNetworkName": {
          "type": "string",
          "description": "The plan network name."
        },
        "medicaidRecipientIdentificationNumber": {
          "type": "string",
          "description": "The patient's medicaid recipient identification number."
        },
        "dischargeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The discharge date."
        },
        "periodStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the period."
        },
        "periodEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the period."
        },
        "completionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The completion date."
        },
        "coordinationOfBenefitsDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits date."
        },
        "coordinationOfBenefitsBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits begin date."
        },
        "coordinationOfBenefitsEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The coordination of benefits end date."
        },
        "coverageStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the coverage."
        },
        "coverageEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the coverage."
        },
        "addedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The added date of the plan."
        },
        "planStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the plan."
        },
        "primaryCareProviderDate": {
          "type": "string",
          "format": "date-time",
          "description": "The primary care provider date."
        },
        "lastVisitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the latest visit or consultation."
        },
        "eligibilityStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility start date."
        },
        "eligibilityEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The eligibility end date."
        },
        "benefitBeginDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit begin date."
        },
        "benefitEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The benefit end date."
        },
        "admissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The admission date."
        },
        "serviceDate": {
          "type": "string",
          "format": "date-time",
          "description": "The service date."
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date this was last updated"
        },
        "statusDate": {
          "type": "string",
          "format": "date-time",
          "description": "The status date."
        },
        "contacts": {
          "type": "array",
          "description": "Contacts for this benefit",
          "items": {
            "$ref": "#/definitions/ContactInformation"
          }
        },
        "payerNotes": {
          "type": "array",
          "description": "Free form notes from the payer that apply to this benefit.",
          "items": {
            "type": "string"
          }
        },
        "deliveryInformation": {
          "type": "array",
          "description": "Health care service delivery information.",
          "items": {
            "$ref": "#/definitions/HealthCareServiceDelivery"
          }
        }
      }
    },
    "BenefitDetail": {
      "type": "object",
      "properties": {
        "inNetwork": {
          "type": "array",
          "description": "Benefits that apply to in-network providers.",
          "items": {
            "$ref": "#/definitions/NetworkBenefit"
          }
        },
        "outOfNetwork": {
          "type": "array",
          "description": "Benefits that apply to out-of-network providers.",
          "items": {
            "$ref": "#/definitions/NetworkBenefit"
          }
        },
        "notApplicableNetwork": {
          "type": "array",
          "description": "Benefits that apply regardless of network.",
          "items": {
            "$ref": "#/definitions/NetworkBenefit"
          }
        },
        "noNetwork": {
          "type": "array",
          "description": "Benefits that are not specific to a network.",
          "items": {
            "$ref": "#/definitions/NetworkBenefit"
          }
        }
      }
    },
    "Amounts": {
      "type": "object",
      "properties": {
        "coPayment": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "outOfPocket": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "deductibles": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "coInsurance": {
          "$ref": "#/definitions/BenefitDetail"
        }
      }
    },
    "PayerNote": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of note."
        },
        "typeCode": {
          "type": "string",
          "description": "The type code of the note."
        },
        "message": {
          "type": "string",
          "description": "The message from the payer."
        }
      }
    },
    "Benefit": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the benefit."
        },
        "type": {
          "type": "string",
          "description": "The type of the benefit."
        },
        "source": {
          "type": "string",
          "description": "The source of the procedure benefit."
        },
        "status": {
          "type": "string",
          "description": "The status of coverage for this benefit."
        },
        "statusCode": {
          "type": "string",
          "description": "The status code of the coverage for this benefit."
        },
        "statusDetails": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "amounts": {
          "$ref": "#/definitions/Amounts"
        },
        "limitations": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "benefitDescriptions": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "nonCovered": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "coverageBasis": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "reserve": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "preexistingConditions": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "costContainment": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "exclusions": {
          "$ref": "#/definitions/BenefitDetail"
        },
        "additionalPayers": {
          "type": "array",
          "description": "Additional payers for this benefit.",
          "items": {
            "$ref": "#/definitions/Payer"
          }
        },
        "contacts": {
          "type": "array",
          "description": "Additional contacts for this benefit.",
          "items": {
            "$ref": "#/definitions/HealthCareContact"
          }
        },
        "payerNotes": {
          "type": "array",
          "description": "Payer notes, disclaimers, and descriptions.",
          "items": {
            "$ref": "#/definitions/PayerNote"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "userMessage": {
          "type": "string",
          "description": "A high level error message."
        },
        "developerMessage": {
          "type": "string",
          "description": "A more technical error message."
        },
        "reasonCode": {
          "type": "integer",
          "description": "A reason code."
        },
        "statusCode": {
          "type": "integer",
          "description": "The status code."
        },
        "errors": {
          "type": "array",
          "description": "A list of detailed user friendly messages.",
          "items": {
            "$ref": "#/definitions/FieldError"
          }
        }
      }
    },
    "FieldError": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field or parameter associated with this error."
        },
        "code": {
          "type": "string",
          "description": "A code for the error."
        },
        "errorMessage": {
          "type": "string",
          "description": "The message associated with this error."
        },
        "index": {
          "type": "integer",
          "description": "The array index of the item associated with this error."
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "hipaa"
      ]
    }
  ],
  "host": "api.availity.com"
}